# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow
4. PyTorch

| Data Science Tools |  |
| -------------| ------ |
| VS Code | |
| RStudio |  |
| Jupyter Notebook |  |

### Below are a few examples of evaluating arithmetic expressions in Python:
1. m = 4,
n = 6
prod = m * n = 24
2. x = 20,
y = 7
diff = x - y = 13

In [11]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [12]:
 200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

__Objectives:__
+ Python
+ Julia
+ Scala
+ SQL
+ R

## Author
Devansh Nayak